*
!*/
!**/*.py
!**/*.tex
!**/*.pdf
!**/*.txt
!**/*.png
!**/*.shp
!**/*.xls
!**/*.xlsx
!.gitignore

REGISTRO DE PARTICIPACIÓN AL PROYECTO DEL PRIMER PARTIDO DIGITAL.pdf
EL CAMINO A UNA ECONOMÍA COOPERATIVA.pdf