*
!*/
!**/*.cpp
!**/*.h
!**/*.pl
!**/*.tex
!**/*.nb
!**/*.py
!**/*.sh
!**/*.csv
!**/*.pdf
!**/*.eps
!**/*.png
!**/*.txt
!**/*.docx
!**/*.gpl
!**/*.md
!.gitignore

Matrices evaluadas/matrices_evaluadas_ordenadas.csv
Mallas PDF/4x4 Cubos 5, Prismas 6.pdf